body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




.card-grid, .board-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.card-grid {
  align-items: flex-start;
  justify-content: flex-start;
}

.board-grid {
  padding-top: 100px;
}

.card {
  border: 1px solid #ccc;
  /* width: 200px; */
  /* padding: 12px; */
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s;
  font-size: 1.5em;
}

.card {
  width: 300px;
}

.games {
  /* width: 50px; */
}

.navbar {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 20px;
  background: #f5f5f5;

  position: fixed;   /* keep it fixed */
  top: 0;            /* stick to the top */
  left: 0;           /* align left */
  right: 0;          /* stretch full width */
  z-index: 1000;     /* make sure it stays above other elements */
}

.color-box {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  border: 1px solid #000;
  cursor: pointer;
}

.hint {
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.hint p, .answer p, .answer-image img {
  margin: 0;
  padding-left: 12px;
  padding-right: 12px;
}
.hint p {
  display: flex;
  padding: 3px 6px;
  background-color: #ccc;
  color: black;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
  align-items: center;
  justify-content: center;
}
.answer-image img {
  padding-bottom: 6px;
}